<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>poloniex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C85B5CD1E93FED8004F1C66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C85B5E11E93FED9004F1C66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C85B5EC1E93FED9004F1C66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
